html{
    background: no-repeat;
    background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/09/minecraft-2805227.jpg?tf=3840x);
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   width:auto;
   height: auto;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
header{
    text-align: center;
    background-color: rgb(214, 171, 130) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 10px solid rgb(207, 185, 143);
    border-radius: 20px;
}
main{
    background-color: rgb(214, 171, 130);
    width: 1000px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 40px 60px 40px 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
img{
    margin: 20px;
    transition: 0.5s;
}
img:hover{
    cursor: pointer;
    transition: 0.5;
    scale: 1.5;
}
h3{
    font-size: 25px;
    text-decoration: underline ;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
.car{
    border: 1px solid rgb(95, 95, 95);
    text-align: center;
    background-color: rgb(212, 212, 212);
}
.des{
    border: 1px solid rgb(95, 95, 95);
    text-align: justify;
    background-color: rgb(255, 255, 255);
}
h4{
    padding: 1px 5px 1px 5px;
}
.pri{
    border: 1px solid black;
    padding: 2%;
    margin: 2%;
    background-color: wheat;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
.secu{
    border: 1px solid black;
    padding: 2%;
    margin: 2%;
    background-color: rgb(207, 185, 143)
}