html{
    background: no-repeat;
    background-image: url(https://s2.dmcdn.net/v/TGmvb1XH_qTSzdv8P/x1080);
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
   width:auto;
   height: auto;
   display: flex;
    justify-content: center;
    align-items:center;
}  

main{
    width: 1100px;
    background-color: bisque;
    padding: 20px;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 3px solid black;
}
header{
    position: relative;
    left: 50%;
    transform: translate( -50%);
    background-color: bisque;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 3px solid black;

}
.herra{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 30px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
.pri{
    border-bottom: 3px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.fir{
    border: 1px solid rgb(95, 95, 95);
    text-align: center;
    padding: 10px;
    background-color: rgb(212, 212, 212);
}
.sec{
    padding: 10px;
    border: 1px solid rgb(95, 95, 95);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.cua{
    margin-bottom: -10px;
    background-color: gray;
    border-left: 3px solid rgb(39, 39, 39); 
    border-top: 3px solid rgb(39, 39, 39) ;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}
.can{
    margin: 20px;
    transition: 0.5s;
}
.can:hover{
    cursor: pointer;
    transition: 0.5s;
    scale: 1.2;
}
li{
    padding: 2px;
    text-align: left;
}
ul{
    background-color:burlywood;
    border: 10px solid wheat;
}
p{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}
h3{
    font-size: 30px;
    text-decoration: underline;
}
.rar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
