@import url('https://fonts.cdnfonts.com/css/minecraft-3');

body {
    font-family: Arial, sans-serif;
    background-image: url(../imagenes/fondo_tierra.png);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
}

.form-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 45%;
    margin: 10px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Minecraft';
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-family: 'Minecraft';
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Minecraft';
}

.btn {
    background-color: #0e8f09;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: solid 1px #000;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
    transition: 0.3s;
    font-family: 'Minecraft';
}

.btn:hover {
    background-color: #ffffff;
    transition: 0.3s;
    color: black;
}