section{
    display: flex;
    width: 900px;
    height: 500px;
    background-color: wheat ;
    margin: 20px 50px 20px 50px;
    border: 20px solid rgb(207, 185, 143);
    border-radius: 30px;
    
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}
section img:hover{
    cursor: pointer;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
}
header{
    width: 500px;
    margin-left: 35%;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: bisque;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 10px solid rgb(207, 185, 143);
    border-radius: 20px;
}
html{
    background-image: url("https://i.redd.it/all-armor-trims-displayed-v0-mgb67venb45b1.jpg?width=2732&format=pjpg&auto=webp&s=f7367e663911c9682601078eb07cc55ec5ba5b36");
    background-repeat: no-repeat ;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width:auto;
    height: auto;
}

main{
    width:1050px;
    background-color: bisque;
    margin-left: 21%;
    padding: 20px;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 3px solid black;
}
p{
    margin: 0px 40px 0px 40px;
    text-align: justify;
}
ul{
    text-align: justify;
}
.can{
    margin: 10px 20px 20px 20px;
    border: 5px solid rgb(207, 185, 143);
    border-radius: 10px;
    background-color: wheat ;
}
.pri{
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    text-align: center;
}
.text{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.def{
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.5fr 0.7fr 0.5fr 0.4fr;
    margin: 30px;
    width: 700px;
    height: 400px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
.fir{
    border: 1px solid rgb(95, 95, 95);
    text-align: center;
    background-color: rgb(212, 212, 212);
}
.sec{
    border: 1px solid rgb(95, 95, 95);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.cua{
    margin-left: -2px;
    margin-right: -2px;
}
h2{
    text-decoration: underline;
    font-size: 30px;
}
strong{
    text-decoration: underline;
}
.dur{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    margin: 30px;
    width: 500px;
    height: 400px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.7);
}
.Uni{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    margin: 30px;
    width: 500px;
    height: 90px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
.peq{
    transition: 0.5s;
    border: 5px solid rgb(207, 185, 143);
    border-radius: 10px;
    background-color: wheat ;
}
.peq:hover{
    transition: 0.5;
    scale: 2;
}
.moldes{
    display: grid;
    margin: 3%;
    grid-template-columns: 2fr 1fr 1.7fr 1fr 2fr;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}
.car{
    margin: 2%;
}
.arm{
    margin: 2%;
    transition: 0.5s;
}
.arm:hover{
    scale: 1.2;
    transition: 0.5s;
}