@import url('https://fonts.cdnfonts.com/css/minecraft-3');

button{
    position:absolute;
    font-family: 'Minecraft';
    background-color: grey;
    padding: 4px;
    color: white;
    width: 100px; 
    border-bottom: 2px solid rgb(92, 92, 92)  ;
    border-left: 2px solid lightgray  ;
    border-top: 2px solid lightgray;
    border-right: 2px solid rgb(92, 92, 92) ;
    text-shadow: 0px 0px 1px black;
    box-shadow: 0px 0px 1px 2px black;
}
button:hover {
    cursor: pointer;
    background-color:rgb(180, 180, 255);
    border-bottom: 2px solid rgb(160, 160, 255)  ;
    border-left: 2px solid rgb(200, 200, 255)  ;
    border-top: 2px solid rgb(200, 200, 255);
    border-right: 2px solid rgb(160, 160, 255) ;
    text-shadow: 0px 0px 1px black;
    box-shadow: 0px 0px 1px 2px rgb(150, 150, 255);
}
button:active {
    background-color: rgb(200, 200, 255) ;
    border-bottom: 2px solid rgb(140, 140, 255);
    border-left: 2px solid rgb(160, 160, 255);
    border-top: 2px solid rgb(160, 160, 255);
    border-right: 2px solid rgb(140, 140, 255);
    text-shadow: 0px 0px 1px black;
    box-shadow: 0px 0px 1px 2px rgb(130, 130, 255);
}